<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Files</title>
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/header.css" />
    <link rel="stylesheet" href="./css/menu.css" />
    <link rel="stylesheet" href="./css/settings.css" />
    <link rel="shortcut icon" href="./icons/favicon.svg" type="image/x-icon" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <div class="main-content">
      <div class="menu">
        <ul class="menu-options">
          <li><a href="/home" class="home-link">Home</a></li>
          <li><a href="/files" class="files-link">Files</a></li>
          <!-- <div class="triangle"></div> -->
          <!-- <li><a href="/notices" class="notices-link">Notices</a></li> -->
          <li><a href="/teams" class="teams-link">Teams</a></li>
          <li><a href="/recent" class="recent-link">Recent Items</a></li>
          <li><a href="/starred" class="starred-link">Starred Items</a></li>
        </ul>
        <div class="footer-menu-options">
          <a href="/settings" class="settings-menu-link">
            <img src="./icons/settings-24.svg" alt="" class="settings-icon" />
            Settings
          </a>
        </div>
      </div>
      <div class="settings-area">
        <div class="settings-list">
          <div class="account-settings">
            <a href="#" class="settings-link">
              <div class="setting-icon-wrapper">
                <img
                  src="./icons/person-24px.svg"
                  alt=""
                  class="setting-icon"
                />
              </div>

              <div class="setting-title">Account Settings</div>
            </a>
          </div>
          <div class="notif-settings">
            <a href="#" class="settings-link">
              <div class="setting-icon-wrapper">
                <img
                  src="./icons/notifications-black-24.svg"
                  alt=""
                  class="setting-icon"
                />
              </div>

              <div class="setting-title">Notification Settings</div>
            </a>
          </div>
        </div>
      </div>
      <div class="empty-preview-pane"></div>
    </div>
  </body>
</html>
