<div class="control-file-display">
  <input type="checkbox" name="select-all" id="select-all-files" />
  <div class="sort-by">
    <span class="sort-by-title"> Sort By</span>
    <img src="./icons/arrow-drop-down.svg" alt="" class="sort-by-drop" />
    <div class="sort-modal">
      <div class="sort-by-options">
        <a href="#" class="sort-option sort-by-name">Name</a>
        <a href="#" class="sort-option sort-by-date">Date Modified</a>
        <a href="#" class="sort-option sort-by-size">Size</a>
        <a href="#" class="sort-option sort-by-type">Type</a>
      </div>
    </div>
  </div>

  <!-- <div class="directory-view">
      <img src="./icons/list-24px.svg" alt="" class="list-view" />
      <img src="./icons/apps-24px.svg" alt="" class="thumb-view" />
    </div> -->
  <div class="dir-action-toolbar">
    <span data-text="Copy" class="tooltip left6"
      ><a href="#" class="dir-action-btn"><img src="./icons/copy.svg" /></a
    ></span>
    <span data-text="Paste" class="tooltip left6"
      ><a href="#" class="dir-action-btn"><img src="./icons/paste.svg" /></a
    ></span>
    <span data-text="Move" class="tooltip left6"
      ><a href="#" class="dir-action-btn"><img src="./icons/move.svg" /></a
    ></span>
    <span data-text="Download" class="tooltip left40"
      ><a href="#" class="dir-action-btn"><img src="./icons/fdownload.svg" /></a
    ></span>
    <span data-text="Delete" class="tooltip left15"
      ><a href="#" class="dir-action-btn"><img src="./icons/delete.svg" /></a
    ></span>
    <div class="vert-line"></div>
    <span data-text="Details" class="tooltip left15"
      ><a href="#" class="dir-action-btn details-btn"
        ><img src="./icons/info.svg" class="details-icon" /></a
    ></span>
    <!-- <div class="vert-line"></div> -->
  </div>
</div>
