<header>
  <div class="header__left">
    <a href="/home" class="logo">
      <img src="../icons/favicon.svg" alt="logo" />
      <div class="logo-name">FileM</div>
    </a>
  </div>
  <div class="header__right">
    <form action="" class="search">
      <input type="text" name="search" class="searchbar" placeholder="Search" />
    </form>
    <div class="notification">
      <img src="../icons/notifications-24.svg" alt="" class="notif-icon" />
    </div>
    <span data-text="User Account" class="tooltip left30 down35">
      <div class="account">
        <img src="../icons/person-24px.svg" alt="" class="account-icon" />
      </div>
    </span>
    <div class="account-modal">
      <div class="account-popup">
        <img src="../icons/person-24px.svg" alt="" class="account-avatar" />
        <div class="account-name">Shobhit Kuruvilla</div>
        <div class="account-email">shobhit1727@gmail.com</div>
        <div class="horizontal-line"></div>
        <div class="account-popup-options">
          <a href="#">Account Settings</a>
          <a href="/signout">Sign Out</a>
        </div>
      </div>
    </div>
  </div>
</header>
