<div class="path-area">
  <span data-text="Back" class="tooltip left6"
    ><div class="path-area-btn">
      <a href="#"> <img src="./icons/back.svg" alt="" class="back-icon" /></a>
    </div>
  </span>
  <span data-text="Refresh" class="tooltip left30">
    <div class="path-area-btn">
      <a href="#"
        ><img src="./icons/refresh.svg" alt="" class="refresh-icon"
      /></a>
    </div>
  </span>
  <span data-text="Home" class="tooltip left10">
    <div class="path-area-btn">
      <a href="#"><img src="./icons/fhome.svg" alt="" class="fhome-icon" /></a>
    </div>
  </span>
  <div class="path">
    <img src="./icons/cloud.svg" alt="" class="cloud-icon" />
  </div>
  <!-- <div class="path">
      <img src="./icons/cloud.svg" alt="" class="cloud-icon" />
      /
    </div> -->
</div>
