<div class="path-area">
  <div class="path">
    <img src="./icons/cloud.svg" alt="" class="cloud-icon" />
    <img src="../icons/pathNext.svg" alt="" /> <a href="/teams">Teams</a>
    <img src="../icons/pathNext.svg" alt="" />
  </div>
</div>
