<div class="preview-pane display-none">
  <div class="preview-title">
    <div class="selected-title">
      <img src="./icons/group-24px.svg" /> Teams Directory
    </div>
    <div class="close-preview">&times;</div>
  </div>
  <div class="preview-main display-none">
    <div class="preview">Members</div>
  </div>
  <div class="preview-info display-none">
    <div class="preview-info-title">Information</div>
    <div class="preview-infos">
      <span class="preview-infos-heading">Team Manager:</span
      ><span class="preview-infos-value">Shobhit</span>
    </div>
    <div class="preview-infos">
      <span class="preview-infos-heading">Count:</span
      ><span class="preview-infos-value">Folder</span>
    </div>
    <div class="preview-infos">
      <span class="preview-infos-heading">Created:</span
      ><span class="preview-infos-value">11/212/12</span>
    </div>
    <div class="preview-infos">
      <span class="preview-infos-heading">Modified:</span
      ><span class="preview-infos-value">1212/1/2</span>
    </div>
  </div>
</div>
