<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/login.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="./icons/favicon.svg" type="image/x-icon" />
  </head>
  <body>
    <div class="wrapper">
      <div class="main-content">
        <div class="main-content__left">
          <div class="signin">
            <div class="signin-title">Sign In</div>
            <form action="/" method="POST" class="signin-form">
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Email"
                class="email-input"
              />
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Password"
                class="password-input"
              />
              <button type="submit" class="signin-btn">Log In</button>
            </form>
            <a href="#" class="forgot-pw-link">Forgot my password</a>
          </div>
          <div class="line-break"></div>
          <div class="signup">
            <a href="/signup" class="signup-btn"
              >Sign Up
              <img
                src="./icons/right swipe icon.png"
                alt=""
                class="signup-btn-icon"
            /></a>
          </div>
        </div>
        <div class="main-content__right">
          <div class="logo">
            <img src="./icons/favicon.svg" alt="" class="logo-icon" />
            FileManager
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
